body {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000; /* Black background */
  color: #33BA47; /* Green text */
  font-family: 'Courier New', Courier, monospace; /* Monospace font */
  overflow: hidden; /* Hide scrollbars */
}

#matrix-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Behind the text */
}

.logo-container {
    position: relative;
    z-index: 1;
    margin-bottom: 2rem; /* Space between logo and text */
    width: 200px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    display: flex;
    justify-content: center;
}

#tresham-logo {
    width: 200%;
    height: 100%;
    opacity: 0; /* Start hidden */
    filter: brightness(1.0); /* Initial brightness */
    transition: filter 0.3s ease, opacity 0.5s ease;
}

/* Add this to your CSS to handle the glitch character */
#tresham-logo.glitching::before {
  content: var(--glitch-char);
  position: absolute;
  top: 0;
  left: 0;
  color: #20d632; /* glitch color */
  opacity: 0.8;
  font-size: 20px; /* Adjust size as needed */
  transform: translate(-50%, -50%); /* Center it */
  pointer-events: none; /* Make it non-interactive */
}


.text-container {
  position: relative;
  z-index: 1; /* Above the canvas */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center-align the text within each span */
}

.text {
  font-size: 2.5rem;
  font-weight: bold;
  opacity: 0; /* Start hidden */
  white-space: pre-wrap; /* Preserve spaces and newlines, wrap long lines */
  margin-bottom: 0.5rem; /* Consistent spacing */
  transition: opacity 0.5s ease; /* Smooth fade-in */
}

/* Adjust font sizes and spacing as needed */
#text2, #text4 {
  font-size: 1.8rem;
  margin-top: 0.6rem;
}
#text3, #text5 {
    font-size: 2rem;
}

#text6{
    font-size: 2.2rem;
    margin-top: 1.1rem;
}

#text7 {
    font-size: 3rem;
    margin-top: 1rem;
    color: #935FB2; /* Use a different color for the name */
}